@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.pagination {
  width: fit-content;
  display: flex;
  margin: 40px auto;
  gap: 20px;
  flex-wrap: wrap;
  @include media-breakpoint-down(lg) {
    gap: 15px;
  }

  & .page-item {
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s;
  }

  & .page-link {
    // display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: var(--secondary-text-color);
    font-weight: 700;
    border: 1px solid var(--secondary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    @include media-breakpoint-down(lg) {
      width: 35px;
      height: 35px;
    }

    &:hover {
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }

  & .active {
    background-color: var(--primary-color);

    &:hover > .active-link {
      color: var(--pagination-text-color);
    }
  }

  & .active-link {
    color: var(--pagination-text-color);
  }

  & .prev-arrow {
    transform: rotate(180deg);
  }

  & .arrow {
    display: block;
  }
}
