@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.add-address-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  @include media-breakpoint-down(lg) {
    margin-top: 10px;
  }
}

.row {
  display: flex;
  width: 100%;
  flex-grow: 1;
  gap: 20px;
  margin-bottom: 20px;

  @include media-breakpoint-down(lg) {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.form-group {
  flex-grow: 1;
  //   flex-shrink: 0;
  & .input {
    height: 45px;
    background-color: transparent;
    border: 1.5px solid var(--primary-border-color);
    outline: none;
    border-radius: 8px;
    width: 100%;
    padding: 11px;
    color: var(--primary-text-color);

    @include media-breakpoint-down(lg) {
      height: 40px;
    }

    &:hover {
      border: 1px solid var(--primary-color);
    }

    &::placeholder {
      color: var(--primary-placeholder-color);
      //   opacity: 0.9;
    }

    &:focus {
      border: 1.5px solid #77dae6;
    }
  }

  & textarea {
    background-color: transparent;
    border: 1.5px solid var(--primary-border-color);
    outline: none;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    color: var(--primary-text-color);

    @include media-breakpoint-down(lg) {
      height: 120px;
    }

    &:hover {
      border: 1px solid var(--primary-color);
    }

    &::placeholder {
      color: var(--primary-placeholder-color);
      //   opacity: 0.9;
    }
    &:focus {
      border: 1.5px solid var(--primary-color);
    }
  }

  & label {
    display: block;
    margin-bottom: 7px;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 5px;
    color: var(--third-text-color);
  }

  & .input-disable {
    pointer-events: none;
  }
}

.buttons {
  margin-left: auto;
  margin-top: 30px;
  @include media-breakpoint-down(lg) {
    margin-top: 0;
  }
}

.cancel-btn {
  font-size: 1.7rem;
}

.add-btn {
  height: 42px;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  font-size: 1.7rem;
  //   color: var(--third-text-color);
}

.combo-box {
  width: 30%;
}
