.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--font-family);
  border-radius: 4px;
  cursor: pointer;
  min-width: 100px;
  padding: 9px 16px;
  background-color: var(--btn-product-bg-color-primary);
  border: 1px solid transparent;
  user-select: none;
  line-height: 0;

  // + .wrapper {
  //     margin-left: 19px;
  // }

  // Disabled
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 10px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

// Button types

.btnIcon {
  background-color: var(--white);
  padding: 13px;
  min-width: 50px;
  height: 50px;
  border-radius: 8px;
}

.primary {
  color: var(--white);
  background-color: transparent;
  border-color: black;

  &:hover {
    border-color: var(--primary-color);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  color: var(--primary-color);
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.text {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: var(--primary-color);
  &:hover {
    text-decoration: underline;
  }
}

.rounded {
  min-width: 123px;
  min-height: 44px;
  padding: 10px, 20px, 10px, 20px;
  border-radius: 30px;
  background-color: var(--secondary-color);
}

.menuTitle {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0.2rem;

  .title {
    display: inline-block;
    margin-left: 14px;
    line-height: 0;
  }
}

// Button sizes
.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  width: 100%;
  min-width: 140px;
  padding: 14px 16px;
}
