@import 'normalize.css';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import url('../../assets/fonts/Lato-Font/stylesheet.scss');

:root {
  //color
  --primary-color: #77dae6;
  --secondary-color: #ffb700;
  --third-color: #a4a5ad;

  //text color
  --primary-text-color: #1a162e;
  --secondary-text-color: #9e9da8;
  --third-text-color: #1a162e;
  --pagination-text-color: #eeeeee;
  --next-prev-slider-color: #ffb700;

  //placeholder color
  --primary-placeholder-color: #9e9da8;

  //bg color
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #ffffff;
  --third-bg-color: #eeeeee;
  --gift-bg-color: #f1ecfc;
  --header-footer-bg-color: rgb(237, 237, 246, 0.9);

  // modal bg color
  --modal-bg-color: #ffffff;

  //combo box background
  --combo-box-bg-color: #ffffff;

  //combo box hover
  --combo-box-hover-bg-color: rgb(210, 202, 202, 0.8);

  // shadow color
  --primary-shadow-color: #f6edee33;

  //hover color
  --primary-bg-hover-color: rgb(210, 202, 202, 0.7);

  //border color
  --primary-border-color: rgb(164, 165, 173, 0.75);

  //separate color
  --primary-separate-color: rgb(210, 209, 214, 1);
  --secondary-separate-color: #d2d1d6;
  //thumbnail bg color
  --primary-thumbnail-bg-color: #ffffff;
  --secondary-thumbnail-bg-color: #eeeeee;

  --white: #ffffff;
  --black: #000000;
  //header
  --header-bg-color: #eeeeee;
  --header-actions-group-bg-color: #ffffff;
  --header-actions-separate-color: #ededf6;

  --header-icon-color: #1a162e;
  --header-mega-menu-bg-color: white;
  --header-shadow-color: #f6edee33;
  --header-avatar-menu-bg-color: #d2caca;

  //home page

  --home-page-bg-color: #f6f6f6;

  //categorise
  --categorise-bg-thumbnail-color: #ffffff;
  --categorise-bg-color-hover: #d2caca;
  --categorise-bg-color: #eeeeee;
  --categorise-shadow-color: #f6edee33;

  // product-card
  //#f6edee33
  --product-card-shadow-color: #f6edee33;
  --product-card-bg-color-hover: #d2caca;
  --product-card-bg-color: white;
  --categorise-bg-thumbnail-color: #ffffff;

  //login
  --login-column-left-bg-color: #fafafd;
  --login-column-right-bg-color: #ffffff;
  --login-input-boder-color: #d2d1d6;

  // product
  --main-info-bg-color: #f6f6f6;
  --product-thumnail-container-bg-color: #ffffff;
  --product-price-color: black;
  --product-label-size-bg-color: #ededf6;

  //profile
  --profile-bg-color: #f6f6f6;
  --profile-sidebar-bg-color: #ffffff;
  --profile-menu-item-bg-color-hover: rgba(210, 203, 203, 0.4);
  --profile-info-bg-color: #ffffff;
  --profile-info-item-bg-color: #f6f6f6;

  //payment
  --payment-bg-color: #f6f6f6;
  --payment-list-item-bg-color: #ffff;

  // favorite
  --favorite-wrapper-bg-color: #f6f6f6;
  --favorite-list-item-bg-color: #ffff;
}

:global {
  html.dark {
    //color
    --primary-color: #77dae6;
    --secondary-color: #ffb700;

    //text color
    --primary-text-color: #ffff;
    --secondary-text-color: #9e9da8;
    --third-text-color: #9e9da8;
    --pagination-text-color: rgb(41, 46, 57, 0.9);
    --next-prev-slider-color: white;

    //placeholder color
    --primary-placeholder-color: #d2d1d6;

    //bg color
    --primary-bg-color: #292e39;
    --secondary-bg-color: #171c28;
    --third-bg-color: #171c28;
    --gift-bg-color: #292e39;

    //border color
    --primary-border-color: rgb(210, 209, 214, 1);

    // modal bg color
    --modal-bg-color: rgb(47, 52, 65);

    //combo box background
    --combo-box-bg-color: rgb(47, 52, 65);

    //combo box hover bg color
    --combo-box-hover-bg-color: #292e39;

    // shadow color
    --primary-shadow-color: #f6edee33;

    //hover color
    --primary-bg-hover-color: rgba(210, 203, 203, 0.5);

    //separate color
    --primary-separate-color: #292e39;
    --secondary-separate-color: rgb(210, 209, 214, 1);

    //thumbnail bg color
    --primary-thumbnail-bg-color: #292e39;
    --secondary-thumbnail-bg-color: transparent;

    // --header-footer-bg-color: #eeeeee;

    // --primary-text-color: #ffff;
    --header-footer-bg-color: #171c28;

    // header
    --header-bg-color: #171c28;
    --header-actions-group-bg-color: #292e39;
    --header-icon-color: #ffff;
    --header-mega-menu-separate-color: #292e39;
    --header-mega-menu-bg-color: #292e39;
    --header-avatar-menu-bg-color: rgba(210, 203, 203, 0.4);
    // home page
    --home-page-bg-color: #292e39;

    // product card
    --product-card-bg-color: #171c28;
    --product-card-bg-color-hover: rgba(210, 203, 203, 0.6);

    //categorise
    --categorise-bg-thumbnail-color: #292e39;
    --categorise-bg-color-hover: rgba(210, 203, 203, 0.4);
    --product-card-bg-color: #171c28;
    --categorise-bg-color: #171c28;

    //login
    --login-column-left-bg-color: #171c28;
    --login-column-right-bg-color: #292e39;
    --login-input-boder-color: #b9babe;

    // product
    --main-info-bg-color: #171c28;
    --product-thumnail-container-bg-color: #292e39;
    --product-price-color: white;
    --product-label-size-bg-color: #292e39;

    //profile
    --profile-bg-color: #292e39;
    --profile-sidebar-bg-color: #171c28;
    --profile-menu-item-bg-color-hover: rgba(210, 203, 203, 0.4);
    --profile-info-bg-color: #171c28;
    --profile-info-item-bg-color: #292e39;
    --profile-account-info-icon-bg-color: #171c28;

    //payment
    --payment-bg-color: #292e39;
    --payment-list-item-bg-color: #171c28;

    //favorite
    --favorite-wrapper-bg-color: #292e39;
    --favorite-list-item-bg-color: #171c28;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  .slick-dots {
    display: block;
    bottom: 10px !important;
  }

  .slick-active {
    color: black;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
}

ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
