.item-wrapper {
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 20px;

  &:hover {
    background-color: var(--primary-bg-hover-color);
  }

  & span:nth-child(2) {
    margin-left: 20px;
  }
}

.separate {
  margin-bottom: 20px;
  position: relative;
  &::after {
    content: '';
    width: calc(100% - 40px);
    height: 1px;
    position: absolute;
    bottom: -5px;
    left: 20px;
    background-color: var(--secondary-separate-color);
    display: block;
  }
}
