.title-wrapper {
    margin-bottom: 20px;
}

.title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 14px;
}

.item-content {
    display: block;
    padding: 0px;
    margin-top: 14px;
    margin-left: 50px;
}
