@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.wrapper {
  display: flex;
  padding: 30px 0;
  position: relative;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-separate-color);
  }
  & img {
    width: 175px;
    height: 172px;
    object-fit: cover;
    border-radius: 15px;
    @include media-breakpoint-down(md) {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }



  & .name-product {
    overflow: hidden;
    display: block;
    font-size: 2rem;
    font-weight: 500;
    width: 374px;
    height: 52px;
    color: var(--primary-text-color);

    @include media-breakpoint-down(xxl) {
      width: fit-content;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      text-align: left;
    }
  }

  & input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.main-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 30px;
  @include media-breakpoint-down(md) {
    justify-content: center;
  }
}

.column-left {
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.price-state-container {
  margin-top: 16px;
  @include media-breakpoint-down(md) {
    margin-right: auto;
  }

  & span {
    font-size: 1.8rem;
    font-weight: 500;
    display: inline-block;
    padding: 0 10px;
  }
  & .price {
    color: var(--secondary-text-color);
    position: relative;

    &::after {
      content: '';
      width: 2px;
      height: 80%;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--secondary-text-color);
    }
  }

  & .state {
    color: rgb(35, 177, 35);
  }
}

.brand-quantity-container {
  display: flex;
  gap: 20px;
  margin-top: 16px;

  @include media-breakpoint-down(lg) {
  }

  & .brand {
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-text-color);
    padding: 11px 20px;
    border-radius: 10px;
    border: 1px solid var(--third-color);
    width: fit-content;
  }

  & .input-number-product {
    display: none;
  }

  & .quantity-container {
    width: 115px;
    height: 44px;
    border: 1px solid var(--third-color);
    border-radius: 10px;
    position: relative;
    flex-shrink: 0;

    & .quantity-inner {
      display: flex;
      gap: 12px;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    & .number-product {
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--primary-text-color);
    }

    & button {
      outline: none;
      background-color: transparent;
      border: none;
      align-items: center;
      justify-content: center;
      color: var(--primary-text-color);
    }
  }
}

.action-column {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  @include media-breakpoint-down(xxl) {
    margin-left: 0;
    align-items: flex-start;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
  }

  & .total {
    display: flex;
    margin-left: auto;
    color: var(--primary-text-color);
    font-size: 2.2rem;
    font-weight: 700;
    @include media-breakpoint-down(xxl) {
      margin-left: 0;
    }
    @include media-breakpoint-down(md) {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  & .action-container {
    display: flex;
    gap: 20px;
    @include media-breakpoint-down(md) {
      margin-top: 20px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    & .action-btn {
      font-size: 16px;
      font-weight: 500;
      color: var(--third-color);
      padding-left: 0;
      padding-right: 0;

      @include media-breakpoint-down(xxl) {
        justify-content: flex-start;
      }
    }
  }
}
