@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.wrapper {
  display: flex;
  width: 100%;
  // overflow: scroll;
}

.column-container {
  width: 100%;
  display: flex;
  position: relative;
  transition: transform 0.5s linear;

  &.next-column {
    transform: translateX(-100%);

    & .next-btn {
      transform: rotateX('angle') !important;
    }
  }
}

.left-column {
  flex-grow: 1;
  flex-shrink: 0;
  width: 50%;
  background-color: var(--login-column-left-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .logo {
    font-size: 2rem;
  }

  @include media-breakpoint-down(md) {
    width: 100%;
  }
  & .left-content {
    width: 412px;
    // margin-bottom: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include media-breakpoint-down(lg) {
      width: 100% !important;
      padding: 0 10px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  & .left-logo {
    position: absolute;
    top: 5%;
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &img {
    width: 422px;
    height: 261px;
  }

  & .left-desc {
    margin-top: 49px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-text-color);
    text-align: center;
  }
}

.right-column {
  flex-grow: 1;
  flex-shrink: 0;
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--login-column-right-bg-color);

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.right-content {
  width: 460px;
  padding-top: 5%;
  padding-bottom: 5%;

  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);

  @include media-breakpoint-down(lg) {
    width: 100% !important;
    padding: 3% 10px 10px 10px;
  }
}

.indicator-container {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  opacity: 0;
  visibility: hidden;
  @include media-breakpoint-down(md) {
    opacity: 1;
    visibility: visible;
  }
  & .next-btn {
    border: none;
    outline: none;
    background-color: transparent;
  }

  & .pre-icon {
    transform: rotate(180deg);
  }
}

.pre-container {
  left: -80%;
}
