.wrapper {
  width: 600px;
  // height: 734px;
  border-radius: 20px;
  padding: 30px;
  color: var(--primary-text-color);
  background-color: var(--primary-thumbnail-bg-color);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  // z-index: 3;
  flex-direction: column;

  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 85%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: var(--primary-thumbnail-bg-color);
    box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.12);
  }

  & .checkout-btn {
    padding: 18px 61px;
    background-color: #ffb700;
    margin-left: auto;
  }
}

.arrow {
  width: 20px;
  height: 20px;
  background-color: var(--header-mega-menu-bg-color);
  top: -10px;
  transform: rotate(45deg) !important; /* Quay mũi tên 45 độ */
  left: 90% !important;
}

.first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  & .total-item {
    font-size: 2rem;
    font-weight: 600;
  }

  & .see-all {
    display: block;
    font-size: 1.8rem;
    color: #0071dc;
    &:hover {
      text-decoration: underline;
    }
  }
}

.item-container {
  padding: 0 10px;

  &:hover {
    cursor: pointer;

    & img {
      border: 2px solid var(--primary-color) !important;
    }
  }

  & .img-container {
    background-color: var(--secondary-thumbnail-bg-color);
    border-radius: 5%;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid var(--secondary-separate-color);
  }

  & .name-product {
    margin-top: 14px;
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    overflow: auto;
  }

  & .price {
    margin-top: 5px;
    font-size: 1.7rem;
    font-weight: 500;
  }
}

.separate {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: var(--primary-separate-color);
  // border: 1px solid var(--primary-separate-color);
}

.total-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subtotal-row,
.texes-row,
.shipping-row,
.total-row {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 500;
}

.total-title,
.total-value {
  font-weight: 500;
}
