@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.wrapper {
  background-color: var(--header-bg-color);
  // box-shadow: 0 20px 20px 50px var(--header-shdow-color);
  padding: 35px 0;

  @include media-breakpoint-down(lg) {
    padding: 10px 0;
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.top-bar {
  display: flex;
  align-items: center;
  transition: transform 0.5s linear;
  @include media-breakpoint-down(lg) {
    justify-content: space-between;
  }
}

.overlay {
  z-index: 2;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  background-color: rgb(128, 128, 128, 0.5);
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.overlay-open {
  opacity: 1;
  visibility: visible;
}

.more-menu {
  display: none;
  border: none;
  color: var(--primary-text-color);
  @include media-breakpoint-down(lg) {
    display: block;
  }
}

.more-icon {
  color: var(--primary-text-color);
}

.drawer-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 70%;
  height: 100vh;
  transform: translateX(-100%);
  background-color: var(--header-bg-color);
  transition: all 0.5s;

  & .back-arrow {
    &:hover {
      color: rgb(109, 199, 211);
    }
  }

  & .drawer-menu {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-text-color);
  }

  & .menu-drawer-item {
    position: relative;
    & a:hover {
      color: inherit;
    }
    &:hover {
      color: rgb(109, 199, 211);

      &::after {
        position: absolute;
        bottom: 0px;
        left: 0px;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgb(109, 199, 211);
      }
    }
  }
}

.drawer-open {
  transform: translateX(0);
}

.header-menu {
  display: flex;
  gap: 30px;
  margin-left: 50px;
  color: var(--primary-text-color);
  font-size: 1.8rem;
  font-weight: 500;
  align-items: center;
  & a:hover {
    color: rgb(109, 199, 211);
    text-decoration: underline;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.action-bar {
  display: flex;
  margin-left: auto;
  align-items: center;
  // background-color: #292e39;
  @include media-breakpoint-down(lg) {
    display: none;
  }

  &__icon {
    color: var(--header-icon-color);
  }

  &__search-btn {
    margin-right: 20px;
    color: var(--primary-text-color);
    background-color: var(--header-actions-group-bg-color) !important;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__group {
    padding: 10px 20px;
    background-color: var(--header-actions-group-bg-color) !important;
    border-radius: 8px;
  }

  &__heart-btn {
    color: var(--primary-text-color);
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 22px;
    height: 0px;
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 30px;
      background-color: var(--header-actions-separate-color);
      right: 0px;
      top: 0px;
    }
  }

  &__card-btn {
    color: var(--primary-text-color);
    height: 0px;
    padding: 0;
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 22px;
  }
}

.header__avatar {
  margin-left: 20px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    width: 45px;
    height: 45px;
  }
}
