.custom-combobox {
  position: relative;
}

.search-container {
  display: flex;
  width: 100%;
  border-radius: 5px;

  &-open {
    & .arrow {
      color: var(--primary-color) !important;
    }

    & .dropdown-toggle {
      border: 1px solid var(--primary-color) !important;
    }

    & input {
      border: 1px solid var(--primary-color) !important;
    }
  }

  &:hover {
    & .arrow {
      color: var(--primary-color) !important;
    }

    & .dropdown-toggle {
      border: 1px solid var(--primary-color);
    }

    & input {
      border: 1px solid var(--primary-color);
    }
  }

  .dropdown-toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid var(--primary-border-color);
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;

    .arrow {
      transform: rotate(-90deg);
      width: 16px;
      height: 16px;
      transition: all 0.5s ease;
      color: var(--primary-border-color);
    }

    .arrow-show {
      transform: rotate(90deg);
    }
  }

  & input {
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--primary-border-color);
    color: var(--primary-text-color);
    outline: none;
    padding: 10px;
    width: calc(100% - 42px);

    // &:focus {
    //   border: 1px solid var(--primary-color);

    //   & ~ .dropdown-toggle .arrow {
    //     color: var(--primary-color) !important;
    //   }

    //   & ~ .dropdown-toggle {
    //     border: 1px solid var(--primary-color);
    //   }
    // }

    &::placeholder {
      color: var(--primary-placeholder-color);
    }
  }
}

.options-list {
  position: absolute;
  width: 100%;
  max-height: 0px;
  min-height: 0px;
  opacity: 0;
  overflow-y: scroll;
  border: 1px solid var(--primary-border-color);
  left: 0;
  background-color: var(--combo-box-bg-color);
  z-index: 100000;
  border-radius: 5px;
  top: 43px;
  transition: all 0.3s ease;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  & li {
    height: 45px;
    text-align: left;
    padding: 10px;
    color: var(--primary-text-color);

    &:hover {
      background-color: var(--combo-box-hover-bg-color);
      cursor: pointer;
    }

    &.selected-item {
      background-color: rgba(255, 183, 0, 0.65);
    }
  }
}

.options-list-show {
  max-height: 300px;
  min-height: 300px;
  opacity: 1;
}
