@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.wrapper {
  padding: 30px 0;
  background-color: var(--home-page-bg-color);
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: var(--header-bg-color);
  padding: 10px 20px;
  border-radius: 5px;
  flex-wrap: wrap;

  .filter-bar-title {
    color: var(--secondary-text-color);
    font-size: 1.6rem;
    font-weight: 600;
  }

  .display-option {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-text-color);
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--header-actions-group-bg-color);
    cursor: pointer;
  }

  .price-display-option {
    color: var(--primary-text-color);
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    .price-options {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      bottom: -100px;
      left: 0;
      width: 100%;
      background-color: var(--header-actions-group-bg-color);
      box-shadow: 0 0 3px 1px var(--secondary-text-color);
      z-index: 2;
      transition: all 0.5s; /* Thêm dòng này */
    }

    .price-title-container {
      font-size: 1.6rem;
      font-weight: 600;
      position: relative;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px;
      background-color: var(--header-actions-group-bg-color);

      &:hover > .price-options {
        opacity: 1;
        visibility: visible;
      }

      .price-options {
      }

      .arrow-icon {
        width: 14px;
        height: 14px;
      }
    }
    .price-option {
      padding: 10px 10px;

      &:hover {
        color: #77dae6;
      }
    }
  }
}

.list-product {
  margin: 10px 0;
}

.product-card-container {
  margin-top: 10px;
}
