@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.wrapper {
  padding: 30px 0;
  background-color: var(--primary-bg-color);
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: var(--secondary-bg-color);
  padding: 10px 20px;
  border-radius: 5px;
  flex-wrap: wrap;

  .filter-bar-title {
    color: var(--third-text-color);
    font-size: 1.6rem;
    font-weight: 600;
  }

  .display-option {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-text-color);
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--header-actions-group-bg-color);
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }

    &-selected {
      background-color: var(--primary-bg-hover-color);
      pointer-events: none;
      cursor: pointer;
    }
  }
  .price-option {
    width: 25%;
    font-size: 1.6rem;
  }
}

.list-product {
  margin: 10px 0;
}

.product-card-container {
  margin-top: 10px;
}
