.check-all-container {
  display: flex;
  gap: 10px;
  align-items: center;

  .check-box {
    width: 20px;
    height: 20px;
    border: 1px solid var(--primary-text-color);
    border-radius: 10%;

    &.checked {
      background-color: rgb(42, 150, 42);
      position: relative;

      &::after {
        content: '';
        width: 10px;
        height: 15px;
        position: absolute;
        border: 2px solid var(--primary-text-color);
        border-top: none;
        border-left: none;
        top: 50%;
        left: 20%;
        transform: rotate(35deg) translate(-50%, -50%);
      }
    }
  }
}
